li a {
    font-size: 24px; /* Aumenta este valor según lo necesites */
}
.contenedor {
    /*
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.5);
    align-content: center;
    */
    display: flex;
    flex-direction: eow;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.caja-1 {
    /*width: 500px;*/
    /*flex-grow: 1;
    flex-basis: 900px;
    flex-shrink: 1;*/
    flex: 1 1 900px; /* flex-grow, flex-shrink, flex-basis */
    height: 80px;
    font-size: 85px;
    color: white;
    background-color: #1e3c72; /* azul oscuro */
}

.caja-2 {
    /*width: 500px;*/
    flex-grow: 2;
    flex-basis: 900px;
    flex-shrink: 2;

    height: 80px;
    font-size: 85px;
    color: white;
    background-color: #2a5298; /* azul intermedio */
}

.caja-3 {
    /*width: 500px;*/
    flex-grow: 1;
    flex-basis: 900px;
    flex-shrink: 1;

    height: 80px;
    font-size: 85px;
    color: white;
    background-color: #3f87a6; /* turquesa suave */
}

/*
.caja-4 {
    width: 500px;
    height: 80px;
    font-size: 85px;
    color: white;
    background-color: #7b5ea4; 
    order: -1;
}

.caja-5 {
    width: 500px;
    height: 80px;
    font-size: 85px;
    color: white;
    background-color: #9d50bb; 
}

.caja-6 {
    width: 500px;
    height: 80px;
    font-size: 85px;
    color: white;
    background-color: #6e48aa;
}
*/